html,
body {
  all: unset;
}

.container {
  max-width: 1280px;
  padding: 10px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5vh;
}

.header__inner form {
  display: flex;
  border: 1px solid #d9d9d9;
}

.header__inner input[type="text"] {
  max-width: 162px;
  padding-left: 15px;
  font-size: 16px;
  border: none;
}

.header__inner .search-container button {
  padding: 10px;
  cursor: pointer;
}

.svg-container {
  width: 16px;
  height: 16px;
  fill: #c0c0c0;
}

.burger {
  cursor: pointer;
}

.burger-link {
  width: 24px;
  height: 24px;
}

.burger-link div {
  width: 24px;
  height: 24px;
  position: relative;
}

.burger-link span {
  background: #000;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s, width 0.5s;
}

.burger-link .line-1 {
  transform: translate(-50%, -9px);
}

.burger-link .line-3 {
  transform: translate(-50%, 7px);
}

.background {
  width: 100%;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05)
    ),
    url("../assets/background.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.main {
  display: flex;
  text-align: center;
  min-height: 80vh;
}

.main .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.cards {
  display: flex;
  margin-top: 50px;
  gap: 40px;
  margin-bottom: 30px;
}

.card {
  background-color: #fff;
  text-align: start;
  border-radius: 10px;
  padding: 40px;
  width: 30%;
}

.title {
  font-size: 64px;
  margin: 30px auto;
  color: #fff;
}

.subtitle {
  font-size: 18px;
  margin: 10px auto;
  max-width: 500px;
  color: #fff;
}

.img-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin: 20px 0 25px;
}

.img-subtitle {
  font-style: italic;
  font-weight: 300;
  margin-bottom: 25px;
}

.img-button {
  background-color: rgb(243, 28, 171);
  cursor: pointer;
  color: #fff;
  padding: 10px 30px;
  border-style: none;
  font-size: medium;
  transition: all 0.3s ease;
}

.img-button:hover {
  background-color: rgb(151, 19, 107);
}

@media (max-width: 987px) {
  .cards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .card {
    width: 45%;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 56px;
    padding: 0 30px;
  }

  .subtitle {
    max-width: 400px;
    padding: 0 30px;
  }
  .cards {
    padding: 0 30px;
  }

  .card {
    width: 100%;
  }
}

@media (max-width: 476px) {
  .title {
    font-size: 36px;
    padding: 0 10px;
  }

  .subtitle {
    max-width: 250px;
    padding: 0 10px;
  }

  .cards {
    padding: 0 10px;
  }
}

.footer {
  background-color: #1a1a1a;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.footer-bottom {
  width: 75%;
}

.footer-links {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.footer-link {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 15px;
}

@media (max-width: 1024px) {
  .footer-bottom {
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    left: -100%;
    flex-direction: column;
  }

  .footer-links {
    width: 30%;
    height: 100vh;
    padding: 30px;
    flex-direction: column;
    background-color: #111;
    gap: 15px;
  }

  .footer-burger {
    display: flex;
    justify-content: end;
    cursor: pointer;
  }

  .footer-burger-link {
    width: 24px;
    height: 24px;
  }

  .footer-burger-link div {
    width: 24px;
    height: 24px;
    position: relative;
  }

  .footer-burger-link span {
    background: #fff;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .footer-burger {
    display: flex;
    justify-content: end;
    cursor: pointer;
  }

  .footer-burger-link {
    width: 24px;
    height: 24px;
  }

  .footer-burger-link div {
    width: 24px;
    height: 24px;
    position: relative;
  }

  .footer-burger-link span {
    background: #fff;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .footer-burger-link .footer-line-1 {
    transform: translate(-50%, -9px);
  }

  .footer-burger-link .footer-line-3 {
    transform: translate(-50%, 7px);
  }
}
